<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/mainpage.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Jomhuria&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed|Jomhuria&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Advent+Pro|Lilita+One|Bangers|Fugaz+One|Paytone+One|Sigmar+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Crete+Round|Luckiest+Guy|Passion+One&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Sigmar+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:700|Sigmar+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 70px;">
  <a class="navbar-brand" href="mainpage.html">BRAND NAME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
   <ul class="navbar-nav ml-auto" style="font-family:  'Rubik', sans-serif;">
       <li class="nav-item">
        <a class="nav-link" href="properties.html.html">PROPERTIES</b></a>
      </li>
      
       <li class="nav-item">
		<% if (currentUsr) { %>
        	<a class="nav-link" href="/auth/logout/">LOGOUT</b></a>
		<% } else { %>
            <a class="nav-link" href="/auth/login/">LOGIN</b></a>
                <% } %>
      </li>
       <% if(!currentUsr){ %>
       <li class="nav-item">
        <a class="nav-link" href="/auth/register/">REGISTER</b></a>
      </li>
	  <% } %>
      <li class="nav-item">
        <a class="nav-link" href="https://www.freeprivacypolicy.com/privacy/view/7447b68665fa1340500ed6de72fe2b06">PRIVACY POLICY</b><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="aboutus.html">ABOUT US</b></a>
      </li>
      
  </div>
</nav>
	
  <div class="jumbotron jumbotron-fluid" style="height: 750px;" >
 
  	
  <div class="signup-form" style="margin-top: 80px;"> 
      <form class="" action="index.html" method="post">
      	<div><p style="font-family: Raleway; font-size: 20px;"><b>LOGIN NOW</b></p></div>
        <div style="float: left; font-family: Raleway;"><p>USERNAME</p></div>
       
       
        <input type="email" placeholder="Email" class="txtb">
         <div style="float: left; font-family: Raleway;"><p>PASSWORD</p></div>
        <input type="password" placeholder="Password" class="txtb">
        
      </form>
  </div>

    <div style="margin-left: 430px; margin-top:230px;float: left; ">

<table border="0"; style="border-color: white;" style="margin-left: 40px;">  
  <tr>
    <td class="btn1" style="width: 666px; height: 20px; "> <a href="#" id="log" style="text-decoration: none;">
        <p style="text-align: center;">LOGIN</p>
      </a>
      
    </td>
  </tr>
 </table>
</div>

   
    
  

<div style="margin-top: 310px; margin-left: 430px;" >
	
   <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1" style="font-family:Raleway; font-size: 15px;color:  #ABA7A7; margin-right: 400px;">Remember Me</label>
    <a href="#" style="text-decoration: none; color:  #ABA7A7; font-family: Raleway;">
		Forgot your Password?
	</a>
	

</div>


  
  <p style="font-size: 15px; margin-left: 660px; font-family: Raleway;" >Don't have an account?<a href="register.html" style="text-decoration: none; color: white;">&nbspRegister Now</a></p>

  </div>

  <div style="margin-top: 0px; margin-left: 590px;" >

     <div style="margin-top: 10px;margin-right: 500px;">
      <p style=" margin-top: 50px; margin-left: 05px;font-family: 'Rubik', sans-serif; font-size: 25px;">
        YOU CAN ALSO REGISTER WITH
      </p>
      </div>





      <a class="btn3" href="/auth/facebook/">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a class="btn3" href="#">
        <i class="fab fa-twitter"></i>
      </a>
      <a class="btn3" href="/auth/google/">
        <i class="fab fa-google"></i>
      </a>





</div>


  


  

 
</div>


  	
  


 
  
     
      
    
  


  
    
     <div class="scroll_top"><span><i style="font-size:24px" class="fa">&#xf062;</i></span>
     
  </div>
    
       



   
  

<div class="jumbotron1 jumbotron-fluid" style="background-color: #341B05; height: 100px; margin-top: 400px;">
    <div class="middle" style="margin-top: 900px;">
      <a class="btn3" href="" style="margin-right: 20px;">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a class="btn3" href="#" style="margin-right: 20px;">
        <i class="fab fa-twitter"></i>
      </a>
      <a class="btn3" href="#" style="margin-right: 20px;">
        <i class="fab fa-google"></i>
      </a>
      <a class="btn3" href="#" style="margin-right: 20px;">
        <i class="fab fa-instagram"></i>
      </a>
      <a class="btn3" href="#" style="margin-right: 20px;">
        <i class="fab fa-youtube"></i>
      </a>
    </div>
    </div>


	<script src="/js/jquery-3.4.1.min.js"></script>


	<script type="text/javascript" src="/js/mainpage.js"></script>
	<script src="/js/bootstrap.bundle.js"></script>
    <script src=""></script>
</body>
</html>